@model BrainySearch.Models.Lectures.SearchPropertiesViewModel
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("SearchInfo", "Home", @Html.Raw(Json.Encode(Model)), FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h2> Search info</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div>
                @* Lecture theme *@
                <div class="form-group">
                    @Html.LabelFor(m => m.LectureTheme, new { @class = "col-md-3 control-label", style = "margin-top: 5px;" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.LectureTheme, new { @class = "form-control", placeholder = "Lecture theme" })
                    </div>
                </div>
                @* Search button *@
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" style="margin-top: 5px;" id="searchInfoButton" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            @* Key words *@
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Key word">
                </div>
            </div>
        </div>
    </div>

    @* show search result *@
    <div class="panel panel-default" style="@(Model.SearchResultViewModels.Count > 0 ? "display: block" : "display: none")">
        <div class="panel-heading">Search result</div>

        <table class="table">
            <tbody>
                @for (var i = 0; i < Model.SearchResultViewModels.Count; i++)
                {
                    <tr>
                        <td>@Html.TextBoxFor(m => Model.SearchResultViewModels[i].Text)</td>
                        <td>@Html.TextBoxFor(m => Model.SearchResultViewModels[i].SourceLink)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div class='text-overflow'>@Model.LectureTheme</div>

@section Scripts{
    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@

    @*<script>
        $(document).ready(function () {
            $('#searchInfoButton').click(function () {
                var model = @Html.Raw(Json.Encode(Model));
                //var myUrl = '@Url.Action("SearchInfo", "Home", new RouteValueDictionary(Model), Request.Url.Scheme)';
                $.post('@Url.Action("SearchInfo", "Home", new RouteValueDictionary(Model), Request.Url.Scheme)')
                    .done(function (response, status, jqxhr) {
                        // this is the "success" callback
                    })
                    .fail(function (jqxhr, status, error) {
                        // this is the ""error"" callback
                    });
            });
    });
    </script>*@
}

