@model BrainySearch.Models.Lectures.LecturesListViewModel
@{
    ViewBag.Title = "Lectures";
}

<div>
    @foreach (var lecture in Model.Lectures)
    {
        <div class="jumbotron">

            <a href="@Url.Action("Details", "Lectures", new { lectureId = lecture.LectureId })"><h2>@lecture.LectureTheme</h2></a>
            <a href="@Url.Action("Details", "Lectures", new { lectureId = lecture.LectureId })"><p>@Html.Raw(@lecture.ShortHtml)</p></a>

            <div style="text-align:right;">

                @Html.ActionLink("Edit", "Edit", "Lectures", new { lectureId = lecture.LectureId },
                    new { @class = "action-link" })

                @Html.ActionLink("Delete", "Delete", "Lectures", new { lectureId = lecture.LectureId },
                    new { onclick = "return confirm('Are you sure you wish to delete this lecture?');", @class = "action-link", @style = "margin-left:10px" })
            
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}