@model BrainySearch.Models.Lectures.LectureDetailsViewModel
@{
    ViewBag.Title = "Lecture details";
}

@section styles{
    <link href="~/Content/keywords.css" rel="stylesheet" type="text/css" />
}

<div class="row" style="margin-top: 50px;"> 
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    @Html.ActionLink("Back to list", "Index", "Lectures", null, null)
    @Html.ActionLink("Edit", "Index", "Lectures", null, new { @style = "margin-left:20px"})
</div>

<h1 style="margin-top:15px">@Model.LectureTheme</h1>

@* Key words *@
<div class="row">
    <div class="col-sm-6 col-md-2">
        <h3 class='control-label' style="margin-top: 10px">Key words:</h3>
    </div>
    <div class="col-sm-6 col-md-10">
        <div class="keyword-group" style="margin-top: 10px; margin-left: -10px" role="group">
            @foreach (var keyWord in Model.KeyWords)
            {
                <a class='keyword-active' style='padding-right: 10px'>@keyWord</a>
            }
        </div>
    </div>
</div>

@* Links *@
<div class="row" style="margin-top: 10px;">
    <div class="col-sm-6 col-md-2">
        <h3 class='control-label' style="margin-top: 10px">Links:</h3>
    </div>
    <div class="col-sm-6 col-md-10">
        <div class="link-group" style="margin-top: 15px" role="group">
            @foreach (var linkInfo in Model.Links)
            {
                <a style='word-wrap:break-word' href='@linkInfo.SourceLink'>@linkInfo.ShortLink</a>
            }
        </div>
    </div>
</div>

<div class="row" style="margin-top: 15px; margin-left: 0px;">
    <p>@Model.Text</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
